.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  margin-right: 90px;
}

.box {
  margin-top: 100px;
  margin-right: -90px;
  z-index: 2;
}

.accordion__main-image_mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .page {
    margin-right: 0;
    margin: 0 20px;
  }

  .box {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .accordion__main-image_mobile {
    display: block;
    position: absolute;
    max-width: 237px;
    top: 14px;
    z-index: 2;
  }
}
