.accordion__title {
  display: flex;
  align-items: center;
  background: #fff;
  cursor: pointer;
  user-select: none;
}

.accordion__title-text {
  padding-bottom: 15px;
  padding-top: 16px;
  font-size: 14px;
  color: var(--clr-title);
  font-weight: 400;
}

.accordion__title-text_bold {
  padding-bottom: 11px;
  font-weight: 700;
  color: var(--clr-bold-title);
}

.accordion__title-text:hover {
  color: var(--clr-hover);
}

.accordion__item-icon {
  width: 8px;
  height: 4px;
  margin-left: auto;
  margin-right: 16px;
}

.accordion__item-icon_flipped {
  transform: rotate(180deg);
}

.accordion__content {
  font-size: 12px;
  line-height: 18px;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(15%);
  transition: 0.2s all ease;
  color: var(--clr-text);
}

.accordion__content_show {
  transform: translateY(0%);
  height: auto;
  visibility: visible;
  opacity: 100%;
  padding-bottom: 15px;
}

.accordion__content-container {
  border-bottom: 1px solid #e8e8ea;
  overflow: hidden;
}
