.accordion {
  width: 100%;
  max-width: 920px;
  height: 509px;
  background: #fff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.accordion__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 95px;
  margin-top: 65px;
  align-self: flex-start;
}

.accordion__header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 43px;
}

.accordion__main-image {
  position: absolute;
  top: 50%;
  left: -86px;
  z-index: 1;
  transform: translateY(-50%);
}

.test {
  position: relative;
  width: 100%;
}

.accordion__main-pattern {
  position: absolute;
  left: -535px;
  top: -280px;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  /* .accordion__wrapper {
    margin-right: 50px;
  } */

  .accordion__main-image {
    left: -100px;
    width: 50%;
  }

  .accordion__main-pattern {
    left: -280px;
    top: -15px;
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .accordion__wrapper {
    margin-right: 30px;
  }

  .accordion__main-image {
    left: -100px;
    width: 50%;
  }

  .accordion__main-pattern {
    left: -250px;
    top: 20px;
    width: 75%;
  }
}
